/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
.logo {
    background-color: black;
    width: auto;
    height: auto;
}
.logo img {
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 170px; 
    height: auto;
}
.corsodev {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
    background-repeat: no-repeat;
    text-align: center;
}
.corsodev h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #25a2c3;
    font-weight: bold;
    line-height: 1.5;
    font-size: xxx-large;
}
.corsodev p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #393d41;
    line-height: 1.65;
    font-size: 1.2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #f04c2f;
    border: none;
    padding: 1rem;
    color: white;
}
/* MAIN */
.divmain {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 1.65;
    margin-top: 3rem;
}
.divmain h3 {
    color: #25a2c3;
    font-weight: bold;
    line-height: 1.5;
}
.cerchio {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    margin-top: 3rem;
}
.divc{
    text-align: center;
}
.rosso {
    background-color: #f04c2f;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.rosso h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    font-size: xx-large;
    padding-bottom: 2rem;
}
.rosso p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.5;
    font-style: italic;
}
.rosso h6 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.5;
    font-size: large;
    padding-top: 2rem;
}
section div {
    border: 1px solid #dee1e3;
    border-radius: 5px;
    margin-bottom: 4rem;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
section img {
    width: 100%;
    height: 100%;
}
section div h3 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
section div p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    padding-bottom: 2rem;
}
footer {
    background-color: #25a2c3;
    text-align: center;
}
footer h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: x-large;
}
footer a {
    font-family: 'Open Sans', sans-serif;
    color: #c8e7f0;
    line-height: 1.5;
}
footer p {
    font-family: 'Open Sans', sans-serif;
    color: #c8e7f0;
    line-height: 1.5;
}
hr {
    color: #c8e7f0;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.lastp {
    padding-bottom: 4rem;
}

/* ASIDE */

/* FOOTER */